{% extends 'base_layout.html' %} {% block body %}

<div class="p-5 text-center bg-image" style="
    background-image: url('https://icon-library.com/images/loading-icon-animated-gif/loading-icon-animated-gif-28.jpg');
    height: 900px;
    margin-top: 58px;
    width: 100%;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Watcharakorn Choomueang</h1>
                <h4 class="mb-3">ID:62102010185</h4>
                <a class="btn btn-outline-light btn-lg" href="https://github.com/Aef-Watcharakorn" role="button">My Github</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="card" >
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010185.jpg"
            class="img-fluid" 
          />
          <a href="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010185.jpg">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">About me</h5>
                <p class="card-text">
                    Hey, I am Watcharakorn. Welcome to my Page.
                </p>
                <a href="mailto: Watcharakorn.aef@g.swu.ac.th" class="btn btn-secondary">Contact</a>
            </div>
        </div>
    </div>
    </section>
    <div class="col-6 col-md-8">

    </div>
</div>
</div>

{% endblock %}